/* .header {
    box-shadow: none;
    border-bottom: 1px solid #ddd;
  }
  
  .toolbar {
    background-color: #e8e8e8;
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
  }
   */

.header {
    box-shadow: none;
    border-bottom: 1px solid #ddd;
  }
  
.toolbar {
  background-color:  #eaeaea;
  display: flex;
  justify-content: space-between;
  padding: 0 50px 0 50px !important;
}
